.intro__text {
    margin: 0;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1rem;
    line-height: 26.08px;
    color: #ffffff;
  }
  
  @media screen and (max-width: 767px) {
    .intro__text {
      max-width: 90%;
      font-size: 1rem;
      line-height: 26.08px;
    }
  }