.place__link {
    max-width: fit-content;
    margin: 0;
    text-decoration-line: underline;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1.125rem;
    line-height: 22px;
    color: #ffffff;
  }