.cover__title {
    max-width: 560px;
    text-align: center;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 76px;
    color: #ffffff;
  }
  
  @media screen and (max-width: 767px) {
    .cover__title {
      max-width: 255px;
      font-size: 2rem;
      line-height: 35px;
    }
  }